############################################
#
# Fichero de configuracion 
#
############################################ 

# FICHERO MAPA
MAPA=mapararito.txt
CONTENIDO=mapararito_2.ini

# ORIENTACION RELATIVA O ABSOLUTA
ORIENTACION_RELATIVA=false

# TICKS PARA LA DESCONEXION
TICKS = 6
DESCONEXION = true

# NUM MAXIMO JUGADORES POR EQUIPO
MAX_JUGADORES_EQ = 5

# NUM DE EQUIPOS Max 8!!!!!!!
NUM_EQUIPOS = 2

# TIEMPO DE TICK (en ms)
TiempoTick = 300

TASA_RECHAZO = 0.5
